<%= form_for([@product,@second_comment]) do |form| %>
  <% if @second_comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@second_comment.errors.count, "error") %> prohibited this second_comment from being saved:</h2>

      <ul>
      <% @second_comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :body %>
    <%= form.text_area :body, id: :second_comment_body %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
