<p id="notice"><%= notice %></p>

<h1>Second Comments</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Product</th>
      <th>Body</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @second_comments.each do |second_comment| %>
      <tr>
        <td><%= second_comment.user %></td>
        <td><%= second_comment.product %></td>
        <td><%= second_comment.body %></td>
        <td><%= link_to 'Show', second_comment %></td>
        <td><%= link_to 'Edit', edit_second_comment_path(second_comment) %></td>
        <td><%= link_to 'Destroy', second_comment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<!--
<br>

<%= link_to 'New Second Comment', new_second_comment_path %>
-->
