<p id="notice"><%= notice %></p>
<div class="picture">
  <%= image_tag(@product.image_url) %>
  <h2>
    <strong>Title:</strong>
    <%= @product.title %>
  </h2>
  <h2>
    <strong>Date:</strong>
    <%= @product.date %>
  </h2>
  <h2>
    <strong>Price:</strong>
    <%= number_to_currency(@product.price) %>
  </h2>
  <h2>
    <strong>Description:</strong>
    <%= @product.description %>
  </h2>
</div>

<h2>Comments</h2>
<%= render @product.comments %>

<% if user_signed_in?%>
<h2>Add a comment:</h2>
<%= render 'comments/form' %>
<% end %>
